@use '../../../../utils/global-variables' as global;

.question {
  font-family: Palanquin, global.$fallbackFonts;
  color: map-get(global.$lightPalette, white);
  font-size: map-get(global.$fontSizes, s);
}

.walkthroughContainer {
  display: flex;
  flex-direction: column;
}

.form {
  padding-bottom: map-get(global.$paddingMargin, m);
}
