@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

#__next {
  height: 100%;
}

html {
  background: 'white';
  height: 100%;
}
body {
  max-width: 414px;
  max-height: 100vh;
  inset: 0;
  position: absolute;
  margin: auto;
}
