@use '../../../utils/global-variables' as global;

.headingContainer {
  padding: map-get(global.$paddingMargin, xs) 0
    map-get(global.$paddingMargin, xxs);
}

.heading {
  font-size: map-get(global.$fontSizes, l);
  font-family: Maven Pro, global.$fallbackFonts;
  padding-bottom: map-get(global.$paddingMargin, xs);
  color: white;
  margin: 0;
  font-weight: 600;
  // background-color: #565656;
  // color: transparent;
  // -webkit-background-clip: text;
  // -moz-background-clip: text;
  // background-clip: text;
  // text-shadow: 0px 2px 1px rgba(255 255 255 / 100%);
}

.subheading {
  font-size: map-get(global.$fontSizes, xs);
  font-family: Palanquin, global.$fallbackFonts;
  padding-bottom: map-get(global.$paddingMargin, xxs);
  color: map-get(global.$lightPalette, white);
  margin: 0;
}
