@use '../../../utils/global-variables' as global;

.headingContainer {
  padding: map-get(global.$paddingMargin, s) 0
    map-get(global.$paddingMargin, xxs);
}

.heading {
  font-size: map-get(global.$fontSizes, xl);
  font-family: Bad Script, global.$fallbackFonts;
  padding-bottom: map-get(global.$paddingMargin, xxs);
  color: white;
  margin: 0;
}

.subheading {
  font-size: map-get(global.$fontSizes, xs);
  font-family: Palanquin, global.$fallbackFonts;
  padding-bottom: map-get(global.$paddingMargin, xxs);
  color: map-get(global.$lightPalette, white);
  margin: 0;
}
