@use '../../../utils/global-variables' as global;

.logo {
  font-size: map-get(global.$fontSizes, m);
  font-family: 'Kaushan Script', global.$fallbackFonts;
  background-color: #565656;
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.logoLight {
  text-shadow: 0px 2px 1px rgba(255 255 255 / 100%);
}

.logoDark {
  color: map-get(global.$darkPalette, skyPurple);
}
