@use '../../../utils/global-variables' as global;

.main {
  padding: map-get(global.$paddingMargin, xs);
  height: 100%;
  box-sizing: border-box;
}

.backgroundLight {
  background-color: map-get(global.$lightPalette, skyPurple);
}

.backgroundDark {
  background-color: map-get(global.$darkPalette, skyPurple);
}

.messageContainer {
  color: map-get(global.$lightPalette, white);
  font-family: Palanquin, global.$fallbackFonts;
  font-size: map-get(global.$fontSizes, xs);
}

.difference {
  font-size: map-get(global.$fontSizes, l);
  font-weight: bold;
  font-family: Maven Pro, global.$fallbackFonts;
  margin: 0 0.2rem;
}
